@import "root.sass"

html
  font-size: $font-size
  overflow-x: hidden !important

body
  overflow-x: hidden !important


.body-container 
  position: relative
  min-height: 100vh !important

.page-container 
  padding-bottom: calc(126px + 6rem)
  @media(max-width: $lg - 0.02) 
    padding-bottom: calc(212px + 6rem)


// Miscellaneous
// Para agregar transiciones en SASS: +transition()

=transition($what: all, $time: 0.25s, $method: ease-in-out, $delay: 0s) 
  $prefixes: (-webkit-, -moz-, -ms-, -o-, )
  @each $prefix in $prefixes 
    $value: ()
    @each $property in $what
      @if length($value) > 0
        $value: append($value, unquote(",") #{$property} $time $method $delay)
      @else
        $value: append($value, #{$property} $time $method $delay)
  
    #{$prefix}transition: $value

// Para agregar transormaciones en SASS: +transform(propiedad())
=transform($property)
  -webkit-transform: $property
  -moz-transform: $property
  -ms-transform: $property
  -o-transform: $property
  transform: $property

// Para agregar sombra en SASS: +boxShadow()
=boxShadow($horizontal: 0, $vertical: 0.125rem, $blur: 0.25rem, $spread: 0, $color: rgba($black, 0.15))
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color
  -moz-box-shadow: $horizontal $vertical $blur $spread $color
  box-shadow: $horizontal $vertical $blur $spread $color

=display-flex() 
  display: -webkit-flex
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=align-items($how) 
  align-items: $how
  -webkit-lign-items: $how

=gradient($direction: 0deg, $list: ($primary 0%, $secondary 100%))
  background: -webkit-linear-gradient($direction, $list)
  background: -moz-linear-gradient($direction, $list)
  background: -o-linear-gradient($direction, $list)
  background: linear-gradient($direction, $list)
// End of miscellaneous


// Typography
$size-text-h1: 3rem
$size-text-h2: 2.25rem
$size-text-h3: 1.75rem
$size-text-h4: 1.5rem
$size-text-h5: 1.375rem
$size-text-h6: 1.2rem
$size-text-lg: 1.125rem
$size-text-md: 1rem
$size-text-sm: 0.875rem
$size-text-xs: 0.75rem
$size-text-xxs: 0.5rem

h1, .text-h1
  font-size: $size-text-h1
h2, .text-h2
  font-size: $size-text-h2
h3, .text-h3
  font-size: $size-text-h3
h4, .text-h4
  font-size: $size-text-h4
h5, .text-h5
  font-size: $size-text-h5
h6, .text-h6
  font-size: $size-text-h6

h1, h2, h3, h4, h5, h6, p, ul
  margin-bottom: 0 !important

a 
  text-decoration: none !important
  positon: relative
  overflow: show

.text-lg
  font-size: $size-text-lg
.text-md
  font-size: $size-text-md
.text-sm
  font-size: $size-text-sm
.text-xs
  font-size: $size-text-xs
.text-xxs
  font-size: $size-text-xxs

.text-u
  text-decoration: underline
// End of typography

.a-noeffect 
  text-decoration: none !important

.no-scroll 
  overflow: hidden !important

.preloader
  position: absolute
  z-index: 99
  height: 100vh
  width: 100% 
  background-color: $primary
  display: flex
  align-items: center 
  justify-content: center

  .woow-preloader-lottie 
    width: 100%
    height: auto
    max-width: 450px
    margin: 0
    padding: 0

.page-content 
  opacity: 0 
  visibility: hidden

.text-wrapper
  div
    padding: 0.5rem 0
    overflow: hidden

nav.woow-navbar 
  position: fixed
  width: 100%
  padding-top: 1rem 
  padding-bottom: 1rem
  z-index: 99 !important
  background-color: rgba(#fff, 0)
  .container
    display: flex 
    align-items: center 
    justify-content: space-between
    #logo-woow-navbar 
      height: 36px
    ul.menu-list-horizontal 
      list-style-type: none 
      margin: 0 
      padding: 0 
      overflow: hidden 
      li 
        text-transform: uppercase
        letter-spacing: 0.125rem
        font-weight: 400
        display: inline-block
        padding: 0
        a:not(.btn) 
          color: $secondary
        &+li 
          margin-left: 2rem
    .mobile-menu-icon-wrapper 
      .mobile-menu-icon 
        display: flex 
        flex-direction: column
        justify-content: center
        align-items: start
        height: 1.5rem
        width: 2rem
        cursor: pointer
        span 
          display: block 
          height: 2px
          width: 100%
          background-color: $secondary
          +transition($what: margin)
          & + span 
            margin-top: calc(2*10%)
        &:hover 
          span
            // background-color: $gray-400
            & + span 
              margin-top: calc(2*4%)
          

#section1 
  min-height: 100vh !important
  overflow: hidden
  .floating-icons-wrapper
    position: absolute 
    overflow: hidden
    width: 100% 
    height: 100% 
    top: 0
    left: 0
    img 
      position: absolute
      filter: invert(.1)
      &#fi-1
        width: 11.2vh
        top: 30%
        left: 20%
      &#fi-2
        width: 12.7vh
        top: 10%
        left: 45%
      &#fi-3
        width: 13.2vh
        top: 3%
        left: 23%
      &#fi-4
        width: 14.9vh
        top: 54%
        left: 30%
      &#fi-5
        width: 20.5vh
        top: 50%
        left: 90%
      &#fi-6
        width: 11.6vh
        top: 80%
        left: 70%
      &#fi-7
        width: 12.3vh
        top: 80%
        left: 97%
      &#fi-8
        width: 13.8vh
        top: 15%
        left: 3%
      &#fi-9
        width: 20.6vh
        top: 93%
        left: 13%
      &#fi-10
        width: 16.3vh
        top: 50%
        left: 0%
      &#fi-11
        width: 15.1vh
        top: 9%
        left: 83%
      &#fi-12
        width: 11.7vh
        top: 5%
        left: 63%
  #section1-text-1 
    h1 
      white-space: nowrap
      width: 100%
      font-size: 3.5rem
      @media(max-width: $xl - 0.02) 
        font-size: 2.5rem
        line-height: 2rem
      @media(max-width: $md - 0.02) 
        font-size: 1.75rem
        line-height: 1.3rem
  #iphone-wrapper
    +transform(scale(1) !important)
    @media(max-width: $xxl) 
      +transform(scale(0.75) !important)
    #iphonex-mockup-1
      position: absolute 
      pointer-events: none
      top: 50%
      left: 50%
      +transform(translateX(-50%) translateY(-48%))
      z-index: 2
    #swiper-iphonex 
      max-width: 270px
      height: 578.58px
      overflow: hidden 
      border-radius: 2rem

section 
  &:not(#section6)
    @media(max-width: $lg - 0.02) 
      min-height: 100vh 
      &:not(#section1) 
        display: flex
        width: 100% 
        align-items: center
        justify-content: center

.btn
  border: none !important
  +boxShadow($color: transparent !important)
  &.btn-primary-gradient 
    background-image: -moz-linear-gradient(right, $yellow-dark, $yellow-light)
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from($yellow-dark), to($yellow-light))
    background-image: -webkit-linear-gradient(right, $yellow-dark, $yellow-light)
    background-image: -o-linear-gradient(right, $yellow-dark, $yellow-light)
    background-image: linear-gradient(to right, $yellow-dark, $yellow-light)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$yellow-dark, endColorstr=$yellow-light, GradientType=1)
    background-repeat: repeat-x
    background-repeat: repeat-y
    background-size: 200% 100%
    background-position: left center
    +transition($what: background)
    &:hover 
      background-position: right center


.parallax-container 
  background-color: $primary
  position: relative
  .parallax-wrapper 
    .img-parallax
      display: block
      position: absolute
      background-image: url("../img/index/parallax.jpg")
      min-height: 100%
      width: 100%
      z-index: 0
      opacity: 0.75
      background-position: 50% 25%
      @media(min-width: $lg)
        background-attachment: fixed
        background-position: 0% 80%
        background-repeat: no-repeat
        background-size: cover
  .content-wrapper 
    position: relative
    padding: 12rem 0
    z-index: 4

footer 
  #footerSection1 
    background-color: lighten($superdark-gray, 10) 
  #footerSection2
    background-color: $black 

.mobile-menu 
  position: fixed 
  display: flex 
  top: -100% 
  left: 0
  width: 100% !important
  height: 100vh !important
  background-color: $primary
  z-index: 99
  opacity: 0 
  visibility: hidden
  border-radius: 150%
  +transform(scale(4, 1))
  .mobile-menu-icon-wrapper
    position: absolute 
    top: 2rem 
    right: 1rem
    height: auto 
    width: auto
    .mobile-menu-icon-close 
      display: flex 
      flex-direction: column
      justify-content: center
      align-items: start
      height: 1.5rem
      width: 2rem
      cursor: pointer
      span
        position: absolute
        height: 2px
        width: 100%
        background-color: white
        &:first-child
          +transform(rotate(-45deg))
        &:last-child
          +transform(rotate(45deg))
  .mobile-menu-content 
    opacity: 0 
    visibility: hidden
    align-self: center 
    justify-self: center
    margin: auto
    +transform(translateY(-15%))
    ul 
      text-align: center
      li 
        padding: 1rem 0
        font-size: $size-text-h2
        color: white
        a
          &:not(.btn)
            color: white
            margin-top: 3rem